<div class="videos">
    <div style="width: 36.2%; float: left;">
        <iframe id="right" width="300" height="150" src="https://www.youtube.com/embed/rlwkwsiKixE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <iframe width="300" height="150" src="https://www.youtube.com/embed/uppk-gdGbcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="bgimage"></div>
    <div style="width: 36.2%; float: right;">
        <iframe width="300" height="150" src="https://www.youtube.com/embed/Ie720xWvch4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <iframe width="300" height="150" src="https://www.youtube.com/embed/NZG26LV7MjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</body>
</html>  
