<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="https://s.aktu.ictacademyiitk.ac.in/wp-content/uploads/2019/07/aktu-favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>AKTU & EICT Academy Front-webpage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
